<ion-view view-title="Achievements">
    <ion-content>
        <section id="achieve-sect">
        <div class="row">
            <div class="col">
                <img src="img/a1.png" height="50" width="50"/>
            </div>
            <div class="col">
                <img src="img/a1.png" height="50" width="50"/>
                
            </div>
            <div class="col">
                <img src="img/a1.png" height="50" width="50"/>
                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="img/a1.png" height="50" width="50"/>
                
            </div>
            <div class="col">
                <img src="img/a1.png" height="50" width="50"/>
                
            </div>
            <div class="col">
                <img src="img/a1.png" height="50" width="50"/>
                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="img/a1.png" height="50" width="50"/>
                
            </div>
            <div class="col">
                <img src="img/a1.png" height="50" width="50"/>
                
            </div>
            <div class="col">
                <img src="img/a1.png" height="50" width="50"/>
                
            </div>
        </div>
        </section>

    </ion-content>
</ion-view>
